*:root{
    --light-yellow: #FFD04E;
    --semi-dark: #412B15;
    --dark-brown: #5A2F04;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: ros;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    height: 932px;
    width: 430px;
    border: 5px solid black;
    margin: 0px 15px 40px 15px;
    padding: 10px 15px 0px;
}


/* NAVIGATION BAR */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.nav-left{
    align-items: left;
    margin-left: 15px;
}

.nav-right{
    align-items: center;
    margin-left: 140px;
}

.nav-right p{
    font-size: 20px;
    font-weight: bold;
    color: var(--semi-dark);
}

.nav-right span{
    color: var(--light-yellow);
}

/* CONTENT */

.content{
    display: flex;
    flex-direction: column;
    margin: 0px 58px;
}

.content h2{
    margin-bottom: 24px;
    font-size: 18px;
    color: var(--semi-dark);
}

.content h3{
    margin-bottom: 10px;
    font-size: 16px;
    color: #878787;
}

.search-bar{
    font-family: Poppins;
    color: #C2C2C2;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    background-color: #F1F1F1;

}

.search-bar p{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.search-bar span{
    font-size: 14px;
}

.content a{
    font-size: 16px;
    color: var(--dark-brown);
    margin-bottom: 10px;
}


/* BAR */

.bar{
    display: flex;
    bottom: 0;
    margin-top: 540px;
    align-items: center;
    justify-content: space-around;
    height: 62px;
    background-color: var(--light-yellow);
    border-radius: 50px;
}

.bar a{
    
    text-align: center;
    color: var(--brown);
    font-family: 'IBM Plex Sans', sans-serif;
}

.bar-menu{
    display: flex;
    flex-direction: column;
}

.bar-menu img{
    width: 24px;
    height: 24px;
}

.bar-menu a{
    font-size: 10px;
    font-weight: 500;
}