*:root{
    --light-yellow: #FFD04E;
    --semi-dark: #412B15;
    --dark-brown: #5A2F04;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: ros;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    height: 932px;
    width: 430px;
    border: 5px solid black;
    margin: 0px 15px 40px 15px;
    padding: 10px 15px 0px;
}


/* NAVIGATION BAR */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    /* padding: 28px 80px; */
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.nav-left{
    align-items: left;
    margin-left: 15px;
}

.nav-right{
    align-items: center;
    margin-left: 140px;
}

.nav-right p{
    font-size: 20px;
    font-weight: bold;
    color: var(--semi-dark);
}

.nav-right span{
    color: var(--light-yellow);
}

/* CONTENT */

.content{
    display: flex;
    flex-direction: column;
}

.setting{
    margin-left: 40px;
}

.setting h3{
    font-size: 18px;
    margin: 23px 0px 30px;
}

.setting-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.setting-menu div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-menu img{
    width: 20px;
    height: 20px;
    margin-right: 50px;
}

.setting-menu a{
    font-size: 16px;
    font-weight: 500;
}

.arrow{
    margin-right: 40px;
}

/* BAR */

.bar{
    display: flex;
    bottom: 0;
    margin-top: 470px;
    align-items: center;
    justify-content: space-around;
    height: 62px;
    background-color: var(--light-yellow);
    border-radius: 50px;
}

.bar a{
    
    text-align: center;
    color: var(--brown);
    font-family: 'IBM Plex Sans', sans-serif;
}

.bar-menu{
    display: flex;
    flex-direction: column;
}

.bar-menu img{
    width: 24px;
    height: 24px;
}

.bar-menu a{
    font-size: 10px;
    font-weight: 500;
}

